.headerContainer {
  height: 75px;
  width: 100%;
  /* background-color: green; */
  display: flex;
  justify-content: center;
  color: #fff;
  position: absolute;
  z-index: 1;
}

.headerWrapper {
  width: 85%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.headerLogo {
  width: max-content;
  display: flex;
  align-items: center;
}

.headerh3{
    font-size: 23px;
    font-weight: 700;
}

.headerNavs {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* background-color: orange; */
}

.headerNavsText{
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}

.headerNavsText:hover{
    color: rgb(223, 101, 18);
    cursor: pointer;
}

.headerButton {
  width: max-content;
  display: flex;
  align-items: center;
}

.headerbtn{
    width: 150px;
    height: 40px;
    border-radius: 25px;
    background-color: #df6512;
    outline: none;
    border: none;
    color: #fff;
}
